<header class="nav-header">
   <div class="middleContainer clearfix">
      <ul class="menu">
         <li class="selected">
            <a href="/" target="">Banking</a>
         </li>
         <li>
            <a href="/privilege-banking/index.page?" target="">News</a>
         </li>
         <li>
            <a href="/">About Us</a>
         </li>
      </ul>
   </div>
</header>